.filter-bar {
    padding: 0px 0px;
}

.post-list-btn {
    margin: auto;
}

.post-list-btn:hover {
  text-decoration: none;
}

.operation-btn {
    margin: 5px;
}

.search-txt-field {
  margin-top: 0;
  padding-top: 5px;
}

.detail-row {
  height: 30px;
}